<div *ngIf="allowEdit; else unAuth">
    <div class="form-group">
        <label for="">Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="serverName">
    </div>
    <div class="form-group">
        <label for="">Server status</label>
        <select name="" id="" class="form-control" [(ngModel)]="serverStatus">
            <option value="online">Online</option>
            <option value="offline">Offline</option>
        </select>
    </div>
    <button class="btn btn-primary" (click)="onUpdateServer()">Update</button>
</div>
<ng-template #unAuth>
    <h2>You are not allowed </h2>
</ng-template>
