<div class="container-fluid container-fluid-mod">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <input type="text" [(ngModel)]="cityName">
                    <div>{{cityName}}</div>
                    <br>
                    <button class="btn btn-primary" (click)="onSubmit()">Forecast</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weather-box">
                        <div class="header">
                            {{weatherForecastData?.city.name}}, {{weatherForecastData?.city.country}} Weather Forecast
                        </div>
                        <div class="weather-body d-flex">
                            <div class="info-box">
                                <div>{{weatherForecastData?.list[0].weather[0].description}}</div>
                                <img src="assets/images/{{weatherForecastData?.list[0].weather[0].main}}.png" alt="">
                                <div class="tem">{{weatherForecastData?.list[0].main.temp | number:'1.0-0'}}</div>
                                <div>{{weatherForecastData?.list[0].dt_txt | date:'EEE, MMMM d'}}</div>
                            </div>
                            <div class="info-box">
                                <div>{{weatherForecastData?.list[8].weather[0].description}}</div>
                                <img src="assets/images/{{weatherForecastData?.list[8].weather[0].main}}.png" alt="">
                                <div class="tem">{{weatherForecastData?.list[8].main.temp | number:'1.0-0'}}</div>
                                <div>{{weatherForecastData?.list[8].dt_txt | date:'EEE, MMMM d'}}</div>
                            </div>
                            <div class="info-box">
                                <div>{{weatherForecastData?.list[16].weather[0].description}}</div>
                                <img src="assets/images/{{weatherForecastData?.list[16].weather[0].main}}.png" alt="">
                                <div class="tem">{{weatherForecastData?.list[16].main.temp | number:'1.0-0'}}</div>
                                <div>{{weatherForecastData?.list[16].dt_txt | date:'EEE, MMMM d'}}</div>
                            </div>
                            <div class="info-box">
                                <div>{{weatherForecastData?.list[24].weather[0].description}}</div>
                                <img src="assets/images/{{weatherForecastData?.list[24].weather[0].main}}.png" alt="">
                                <div class="tem">{{weatherForecastData?.list[24].main.temp | number:'1.0-0'}}</div>
                                <div>{{weatherForecastData?.list[24].dt_txt | date:'EEE, MMMM d'}}</div>
                            </div>
                            <div class="info-box">
                                <div>{{weatherForecastData?.list[32].weather[0].description}}</div>
                                <img src="assets/images/{{weatherForecastData?.list[32].weather[0].main}}.png" alt="">
                                <div class="tem">{{weatherForecastData?.list[32].main.temp | number:'1.0-0'}}</div>
                                <div>{{weatherForecastData?.list[32].dt_txt | date:'EEE, MMMM d'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>