<div class="row justify-content-center mt-5">
    <div class="col-4 border">
        <div class="spinner-border" role="status" *ngIf="isLoading">
            <span class="visually-hidden">Loading...</span>
          </div>
        <form action="" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group mb-3 mt-3">
                <label for="">Email</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="form-group mb-3">
                <label for="">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary me-3" type="submit" [disabled]="!loginForm.valid">{{isLogin ? 'Login' : 'Sign Up'}}</button>
                <button class="btn btn-primary" (click)="onSwitch()" type="button">Switch to {{!isLogin ? 'Login' : 'Sign Up'}}</button>
            </div>
        </form>
    </div>
</div>